{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='arkanoid.css') }}">
{% endblock %}

{% block title %}
Arkanoid
{% endblock %}

{% block content %}

<div class="content">
    <h1>Arkanoid</h1>
    <div class="arkanoid">
        <canvas id="arkanoid" width="800" height="600"></canvas>
        <table class="top-scores" id="top-scores" border="1">
                <caption>Best results</caption>
        </table>
        <div class="form" id="add-score-container">
            <form id="add-score-form" action="" method="POST" autocomplete="off">
                <input class="add-score-input" type="text" name="name" placeholder="Enter your name" />
                <input class="button" id="add-score-btn" type="button" value="Save result" onclick="add_score()"/>
            </form>
        </div>
        <input class="button" id="start" type="button" value="Play" onclick="arkanoid_start(1)">
        <input class="button" id="pause" type="button" value="Pause" onclick="pause(requestId)">
        <input class="button" id="mute sound" type="button" value="Mute sound" onclick="mute()">
        <input class="button" id="show-score" type="button" value="Show best results" onclick="show_score()">
    </div>
    <div class="description">
        <h4>Управление</h4>
        <p>
            Стрелки — перемещение платформы. Пробел — запуск какодемона.
        </p>
        <h4>Предметы</h4>
        <table class="items" border="1" align="center">
           <tr>
               <th></th>
               <th>Название</th>
               <th>Действие при столкновении с какодемоном</th>
               <th>Действие при столкновении с платформой</th>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/hp1.png')}}"></td>
               <td>Колба</td>
               <td>Добавляет 2 hp.</td>
               <td>Добавляет 1 hp.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/invisibility3.png')}}"></td>
               <td>Частичная невидимость</td>
               <td>Делает какодемона частично невидимым. Думгаи перестают по нему стрелять. Добавляет 100 очков.</td>
               <td>Делает платформу частично невидимой. Добавляет 50 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/invulnerability2.png')}}"></td>
               <td>Неуязвимость</td>
               <td>Делает какодемона неуязвимым.</td>
               <td>Добавляет 100 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/life bonus1.png')}}"></td>
               <td>Сфера души</td>
               <td>Добавляет одну жизнь. Восстанавливает hp.</td>
               <td>Добавляет одну жизнь.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/mega3.png')}}"></td>
               <td>Мегасфера</td>
               <td>Увеличивает какодемона.</td>
               <td>Увеличивает платформу.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/speed3.png')}}"></td>
               <td>Бонус скорости</td>
               <td>Увеличивает скорость какодемона. Добавляет 50 очков.</td>
               <td>Увеличивает скорость платформы. Добавляет 25 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/barrel.png')}}"></td>
               <td>Бочка</td>
               <td>Взрывается и отталкивает какодемона. Отнимает 1 hp.</td>
               <td>Остаётся на платформе. При падении на шипы взрывается и даёт 50 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/doomguy1.png')}}"></td>
               <td>Думгай</td>
               <td>Умирает и даёт 200 очков. При приближении какодемона стреляет по нему и отнимает 1 hp.</td>
               <td>При столкновении с платформой ничего не происходит. При падении на шипы даёт 100 очков.</td>
           </tr>
        </table>
    </div>
</div>
<script src="{{url_for('static', filename='scripts/game_objects.js')}}"></script>
<script src="{{url_for('static', filename='scripts/arkanoid.js')}}"></script>

{% endblock %}