{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='arkanoid.css') }}">
{% endblock %}

{% block title %}
Doomanoid
{% endblock %}

{% block content %}

<div class="content">
    <h1>Doomanoid</h1>
    <div class="arkanoid">
        <canvas id="arkanoid" width="800" height="600" tabindex="0"></canvas>
        <img id="background" src="/static/images/arkanoid-background.png">
        <table class="top-scores" id="top-scores" border="1">
                <caption>Best results</caption>
        </table>
        <div class="form" id="add-score-container">
            <form id="add-score-form" action="" method="POST" autocomplete="off">
                <input class="add-score-input" type="text" name="name" placeholder="Enter your name" />
                <input class="button" id="add-score-btn" type="submit" value="Save result"/>
            </form>
        </div>
        <input class="button" id="start" type="button" value="Play" onclick="arkanoid_start(1)">
        <input class="button" id="pause" type="button" value="Pause" onclick="pause(requestId)">
        <input class="button" id="mute sound" type="button" value="Mute sound" onclick="mute()">
        <input class="button" id="fps_enable" type="button" value="Show fps" onclick="fps_switch()">
        <input class="button" id="show-score" type="button" value="Show best results" onclick="show_score()">
    </div>
    <div class="description">
        <h4>Управление</h4>
        <p>
            Стрелки — перемещение платформы. Пробел — запуск какодемона.
            Если платформа в момент столкновения с какодемоном находится в движении, ему придаётся ускорение.
        </p>
        <h4>Предметы</h4>
        <table class="items" border="1" align="center">
           <tr>
               <th></th>
               <th>Название</th>
               <th>Действие при столкновении с какодемоном</th>
               <th>Действие при столкновении с платформой</th>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/hp1.png')}}"></td>
               <td>Колба</td>
               <td>Добавляет 2 hp.</td>
               <td>Добавляет 1 hp.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/invisibility3.png')}}"></td>
               <td>Частичная невидимость</td>
               <td>Делает какодемона частично невидимым. Думгаи перестают по нему стрелять. Добавляет 100 очков.</td>
               <td>Делает платформу частично невидимой. Добавляет 50 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/invulnerability2.png')}}"></td>
               <td>Неуязвимость</td>
               <td>Делает какодемона неуязвимым.</td>
               <td>Добавляет 100 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/life bonus1.png')}}"></td>
               <td>Сфера души</td>
               <td>Добавляет одну жизнь. Восстанавливает hp.</td>
               <td>Добавляет одну жизнь.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/mega3.png')}}"></td>
               <td>Мегасфера</td>
               <td>Увеличивает какодемона. Увеличивает урон в 2 раза.</td>
               <td>Увеличивает платформу.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/speed3.png')}}"></td>
               <td>Бонус скорости</td>
               <td>Увеличивает скорость какодемона. Добавляет 50 очков.</td>
               <td>Увеличивает скорость платформы. Добавляет 25 очков.</td>
           </tr>
           <tr>
               <td><img src="{{url_for('static', filename='images/barrel.png')}}"></td>
               <td>Бочка</td>
               <td>Взрывается и отталкивает какодемона. Отнимает 1 hp.</td>
               <td>Остаётся на платформе. При падении на шипы взрывается и даёт 50 очков.</td>
           </tr>
        </table>

        <h4>Монстры</h4>
        <table class="monsters" border="1" align="center">
           <tr>
               <td><img src="{{url_for('static', filename='images/doomguy1.png')}}"></td>
               <td>Думгай</td>
               <td>Стреляет при приближении какодемона.</td>
               <td>Сильно отталкивает какодемона.</td>
           </tr>
            <tr>
               <td><img src="{{url_for('static', filename='images/imp1.png')}}"></td>
               <td>Чёрт</td>
               <td>Стреляет самонаводящимися огненными шарами.</td>
               <td>На время ускоряет какодемона в 2 раза.</td>
           </tr>
            <tr>
               <td><img src="{{url_for('static', filename='images/baron1.png')}}"></td>
               <td>Барон ада</td>
               <td>Стреляет самонаводящейся зелёной плазмой.</td>
               <td>Замедляет какодемона в 2 раза.</td>
           </tr>
            <tr>
               <td><img src="{{url_for('static', filename='images/cyberdemon_right3.png')}}"></td>
               <td>Кибердемон</td>
               <td>Стреляет залпом самонаводящихся ракет. Количество ракет зависит от уровня.</td>
               <td>Количество hp зависит от уровня.</td>
           </tr>
        </table>
        <p>
            © Все права на изображения персонажей и объектов, а также на звуковые эффекты принадлежат id Software.
            Автор арканоида не извлекает коммерческой выгоды от их использования.
        </p>
    </div>
</div>
<script src="{{url_for('static', filename='scripts/game_objects.js')}}"></script>
<script src="{{url_for('static', filename='scripts/arkanoid.js')}}"></script>

{% endblock %}