<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts/jquery-3.5.1.min.js')}}"></script>
    {% block links %}

    {% endblock %}
    <title>{% block title %}

            {% endblock %}
    </title>
</head>
<body>
        <div class="background">
        </div>
    <div class="page">

        <header class="header">
            <nav class="nav">
                <div class="nav-list">
                    <a class="nav-item" href="{{ url_for('index') }}">About me</a>
                    <div class="projects-menu">Projects
                        <div class="dropdown">
                            {% for project_slug in project_dict.keys() %}
                                {% if project_slug == 'arkanoid' %}
                                <a class="project" href="{{ url_for('arkanoid.show_arkanoid') }}">{{project_dict[project_slug]}}</a>
                                {% else %}
                                <a class="project" href="{{ url_for('projects.show_project', slug=project_slug) }}">{{project_dict[project_slug]}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a class="nav-item" href="{{ url_for('contacts') }}">Contacts</a>
                </div>
            </nav>
        </header>
        <main class="main">
            {% block content %}

            {% endblock %}
        </main>
        <footer class="footer">
            <span>Designed by Vasiliy Pozhinskiy © 2020</span>
        </footer>
    </div>
</body>
</html>