{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
{% endblock %}

{% block title %}
contacts
{% endblock %}

{% block content %}
    {% with message = get_flashed_messages()[0] %}
        {% if message %}
            <div class="flash-message">{{message}}</div>
        {% endif %}
    {% endwith %}
    <div class="content">
        <ul class="link-list">
            <li>GitHub: <a class="link" href="https://github.com/vasiliypozhinskiy/" target="_blank">github.com/vasiliypozhinskiy</a></li>
            <li>Email: <a class="link" href="mailto:vpozhinskii@mail.ru">vpozhinskii@mail.ru</a></li>
            <li>VK: <a class="link" href="https://vk.com/id10449750" target="_blank">vk.com/id10449750</a></li>
            <li>Phone: <a class="link" href="tel:+79062405064">+7 (906) 240-50-64</a></li>
        </ul>
        <div class="form">
            <form action="{{ url_for('contacts')}}" method="POST" autocomplete="off">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label(class='control-label') }}
                        {{ field(class='form-control') }}
                    </div>
                {% endfor %}
                <button type="submit" class="button">Send message to me</button>
            </form>
        </div>
    </div>
{% endblock %}