{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block title %}
index
{% endblock %}

{% block content %}
<div class="content">
    <div class="left-content">
        <div class="photo">
            <img src="{{url_for('static', filename='images/photo.jpg')}}"/>
        </div>
        <div class="links">
            <a class="nav-item link" href="https://github.com/vasiliypozhinskiy/" target="_blank">GitHub</a>
            <a class="nav-item link" href="{{url_for('static', filename='files/python junior Пожинский В.pdf')}}"
               download>Download CV in pdf</a>
            <a class="nav-item link" href="https://stepik.org/users/195223144/certificates"
               target="_blank">Certificates</a>
        </div>
    </div>

    <div class="right-content">
        <h2>Личные данные:</h2>
        <div> ФИО:&nbsp;Пожинский&nbsp;Василий&nbsp;Анатольевич</div>
        <div> Дата рождения: 22.07.1992</div>
        <h2>Навыки:</h2>
        <ol>
            <li>Python 3: PyQt5, flask</li>
            <li>Javascript: ajax</li>
            <li>Базы данных: Postgres, Sqlite</li>
            <li>Вёрстка: HTML5, CSS</li>
            <li>Система контроля версий: git</li>
            <li>Операционные системы: Windows, Linux</li>
            <li>Английский язык: Intermediate</li>
        </ol>
        <h2>Проекты:</h2>
        <ol>
            <li>
                <p>
                    «Arkanoid».
                    Игра на javascript с использованием ajax. Уровни генерируются на python. Результаты можно сохранять
                    в базу данных Postgres.
                </p>
                <a class="nav-item text-link" href="{{ url_for('arkanoid.show_arkanoid') }}"
                   target="_blank">Подробнее</a>
            </li>
            <li>
                <p>
                    «Typing trainer».
                    Программа для тренировки скорости печати. Позволяет выбрать текст на русском и английском языке.
                    Тренажер написан с помощью фреймворка Vue.
                </p>
                <a class="nav-item text-link" href="{{ url_for('projects.show_project', slug='typing-trainer') }}"
                   target="_blank">Подробнее</a>
            </li>
            <li>
                <p>
                    «Project planner».
                    Программа на PyQt5 для Windows и Linux для распределения проектов.
                    Сохраняет проекты в базу данных Sqlite.
                </p>
                <a class="nav-item text-link" href="{{ url_for('projects.show_project', slug='project-planner')}}"
                   target="_blank">Подробнее</a>
            </li>
            <li>
                <p>
                    «Packing».
                    Программа на PyQt5 для Windows и Linux для сбора вещей в дорогу.
                    Сохраняет наборы в базу данных Sqlite.
                </p>
                <a class="nav-item text-link" href="{{ url_for('projects.show_project', slug='packing')}}"
                   target="_blank">Подробнее</a>
            </li>
            <li>
                <p>
                    «Get recipe».
                    Программа на PyQt5 для Windows для получения рецептов по
                    заданным ингредиентам с помощью API сайта spoonacular.com.
                    Полученные рецепты сохраняются в базу данных Sqlite.
                </p>
                <a class="nav-item text-link" href="{{ url_for('projects.show_project', slug='get-recipe')}}"
                   target="_blank">Подробнее</a>
            </li>
            <li>
                <p>
                    «Virtual owl museum».
                    Программа представляет собой виртуальный музей, позволяющий
                    посмотреть на изображения сов в искусстве от каменного века до
                    современности. Описания картин перемежаются с интересными
                    фактами о совах.
                </p>
                <a class="nav-item text-link" href="{{ url_for('projects.show_project', slug='virtual-owl-museum')}}"
                   target="_blank">Подробнее</a>
            </li>
        </ol>

        <h2>Основное образование:</h2>
        <span>СПбГМТУ (специальность «прикладная математика»). 2009—2014.</span>
        <h2>Дополнительное образование:</h2>
        <ul>
            <li>«Python: основы и применение». Bioinformatics Institute. Stepik.org</li>
            <li>«Интерактивный тренажер по SQL». Дальневосточный федеральный университет. Stepik.org</li>
            <li>«Основы Git». Mark Zaslavskiy. Stepik.org</li>
            <li>«Веб разработка для начинающих: HTML и CSS». ITC. Stepik.org</li>
        </ul>

        <h2>Интересы:</h2>
        <ul>
            <li>Настольные игры</li>
            <li>Пешеходный туризм</li>
            <li>Фантастическая литература</li>
            <li>Компьютерные стратегии</li>
            <li>Кулинария</li>
        </ul>
    </div>
</div>
{% endblock %}